* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #548687;
  text-align: center;
}
.container {
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5vmin;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 30px;
  border: none;
  box-shadow: 0 0 1rem rgba(216, 14, 14, 0.3);
  font-size: 8vmin;
  color: blueviolet;
  background-color: rgb(216, 131, 19);
}
#Reset {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: coral;
  border-radius: 10px;
  border: none;
}
#newbtn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: coral;
  border-radius: 10px;
  border: none;
}

#msg{
    color: yellow;
    font-size: 10vmin;
}
.msg-container{
    height: 130vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}